.download-interface {
    .message {
        padding: 6px 15px; 
        border-radius: 10px;
        margin: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid rgb(230, 230, 230);
    }

    .info {
        background-color: rgba(233, 233, 233, 0.5);
        border: 2px solid rgb(190, 190, 190);
    }

    .warning {
        background-color: rgba(255, 210, 0, 0.5);
        border: 2px solid rgb(190, 190, 0);
    }

    .error {
        background-color: rgba(252, 65, 65, 0.5);
        border: 2px solid rgb(190, 0, 0);
    }
}
