.download-interface {
    .message {
        padding: 6px 15px; 
        border-radius: 10px;
        margin: 4px;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(230, 230, 230);
    }

    .info {
        background-color: rgb(233, 233, 233);
        border: 2px solid rgb(190, 190, 190);
    }

    .warning {
        background-color: rgb(255, 210, 0);
        border: 2px solid rgb(190, 190, 0);
    }

    .error {
        background-color: rgb(252, 65, 65);
        border: 2px solid rgb(190, 0, 0);
    }
}
