.download-interface {

    .next-link {
        width: fit-content;
        display: block;
        text-align: center;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 4px;
        margin: 5px auto;
        padding: 5px 15px;
        background-color: rgba(0, 0, 0, 0.1);

        &:hover {
            text-decoration: underline;
        }
    }

    // displays the metadata of a video
    .video-metadata {
        display: block;
        max-width: 100%;
        margin: 0 auto;

        .title {
            display: block;
            text-align: center;
        }

        .thumbnail {
            display: block;
            max-width: 90%;
            margin: 0 auto;
        }
    }

    > .youtubeid-input {
        > input {
            display: block;
            width: 95%;
            margin: 0 auto;
            text-align: center;
        }
        > span {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }

    > .metadata-input {

        button {
            display: block;
            margin: 0 auto;
        }

        .recommended {
            a {
                display: block;
                margin: 5px;
                text-decoration: none;
                color: black;
                padding: 15px;
                border: 1px solid black;
                border-radius: 5px;
                
                p {
                    margin: 0px;
                    text-align: center;
                }

                .title {
                    font-weight: bold;
                }

                .artist {
                    color: gray;
                    font-size: smaller;
                }
            }
        }

        .manuel-input {
            border: 1px solid black;
            border-radius: 5px;
            margin: 5px;
            padding: 5px;
        }

        .input-fields {
            width: 100%;

            // td:first-child {

            // }
            
            td:last-child {
                display: block;

                input {
                    width: calc(100% - 6px);
                    padding: 0;
                }
            }
        }
    }

    > .audio-download {
        input {
            box-sizing: border-box;
            display: block;
            margin: 10px 5px;
            width: calc(100% - 10px);
        }

        .seperator {
            display: block;
            height: 100px;
        }
    }
}
