.notification-message {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: gray;
    min-width: 100px;
    max-width: 200px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

/* Error-Message */
.error-message {
    color: #D8000C;
    background-color: #FFD2D2;
    border: 3px outset red;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;

    h1 {
        text-align: center;

        &::before, &::after {
            content: 'âŒ';
        }
    }

    summary {
        cursor: pointer;
    }
}

/* Loader */
.loader-container {
    width: 100%;

    .loader {
        margin: auto; /* used to align this in the center */

        border: 16px solid transparent; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%; /* make it round */
        // size is declared in the component itself
        width: 80px;
        height: 80px;
        animation: spin 2s linear infinite;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Error Boundary */

.error-boundary {
    background-color: rgb(255, 0, 0);
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid darkred;

    .text {
        text-align: center;
    }

    .error {
        span {
            font-weight: bold;
        }
    }
}

.app-header {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    > * {
        display: inline-block;
        padding: 0px;
        margin: 0px;
    }

    .homepage-link {
        text-decoration: none;
        color: black;
        vertical-align: middle;
        height: 2em;

        > * {
            display: inline;
            height: 100%;
        }
    }
}
